## Chapter 20: List

The Python List is a general data structure widely used in Python programs. They are found in other languages,
often referred to as dynamic arrays. They are both mutable and a sequence data type that allows them to be indexed
and sliced. The list can contain different types of objects, including other list objects.

## List methods and supported operators

In [1]:
# append
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [2]:
a.append(6)
a.append(7)
a.append(7)
a

[1, 2, 3, 4, 5, 6, 7, 7]

In [3]:
b = [8, 9]
a.append(b)
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9]]

In [4]:
my_string = "hello world"
a.append(my_string)
a

[1, 2, 3, 4, 5, 6, 7, 7, [8, 9], 'hello world']

In [5]:
# extend
a = [1, 2, 3, 4, 5, 6, 7, 7]
b = [8, 9, 10]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10]

In [6]:
a.extend(range(3))

In [7]:
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [8]:
# index
# return index of element
a.index(7)

6

In [9]:
a.index(49)
# through exception because element does not exist

ValueError: 49 is not in list

In [10]:
# to avoid exception 
if 49 in a:
    a.index(49)

In [12]:
# alternative 
a.index(7, 7) # return index after 7 index

7

In [13]:
a.index(7,8)#  through exception because 7 not found after 8th index

ValueError: 7 is not in list

In [14]:
# insert(index, value)
a

[1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [16]:
a.insert(3,20)
a.insert(4,40)
a

[1, 2, 3, 20, 40, 4, 5, 6, 7, 7, 8, 9, 10, 0, 1, 2]

In [17]:
# pop(index)
a.pop()

2

In [18]:
a.pop()

1

In [19]:
a

[1, 2, 3, 20, 40, 4, 5, 6, 7, 7, 8, 9, 10, 0]

In [20]:
a.pop(8)

7

In [21]:
a.pop(1)

2

In [22]:
#remove(value)
a.remove(1)

In [23]:
a

[3, 20, 40, 4, 5, 6, 7, 8, 9, 10, 0]

In [24]:
a.remove(0)

In [26]:
a.remove(45) # through exception bacause 45 does not exist in list

ValueError: list.remove(x): x not in list

In [27]:
#reverse() – reverses the list in-place and returns None.
a.reverse()

In [28]:
a

[10, 9, 8, 7, 6, 5, 4, 40, 20, 3]

In [31]:
#count(value) count occurance of value
a.count(3)

1

In [32]:
a.count(7)

1

In [33]:
a.count(100)

0

In [34]:
#sort() – sorts the list in numerical and lexicographical order and returns None.
a

[10, 9, 8, 7, 6, 5, 4, 40, 20, 3]

In [35]:
a.sort()
a

[3, 4, 5, 6, 7, 8, 9, 10, 20, 40]

In [36]:
# Lists can also be reversed when sorted using the reverse=True flag in the sort() method
a

[3, 4, 5, 6, 7, 8, 9, 10, 20, 40]

In [39]:
a.sort(reverse =True)

In [40]:
a

[40, 20, 10, 9, 8, 7, 6, 5, 4, 3]

In [41]:
a.sort(reverse =False)
a

[3, 4, 5, 6, 7, 8, 9, 10, 20, 40]

In [42]:
#If you want to sort by attributes of items, you can use the key keyword argument:

import datetime
class Person(object):
    def __init__(self, name, birthday, height):
        self.name = name
        self.birthday = birthday
        self.height = height
    def __repr__(self):
        return self.name

persons = [Person("John Cena", datetime.date(1992, 9, 12), 175),
Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
Person("Jon Skeet", datetime.date(1991, 7, 6), 185)]
persons

[John Cena, Chuck Norris, Jon Skeet]

In [44]:
# sort by name
persons.sort(key =lambda item :item.name)
persons

[Chuck Norris, John Cena, Jon Skeet]

In [45]:
# sort by birthday
persons.sort(key =lambda item :item.birthday)
persons

[Chuck Norris, Jon Skeet, John Cena]

In [46]:
#sort by height
persons.sort(key =lambda item :item.height)
persons

[John Cena, Chuck Norris, Jon Skeet]

In case of list of dicts the concept is the same:

In [49]:
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'height': 175},
{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'height': 180},
{'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]

l.sort(key = lambda item :item['name'])
l

[{'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'height': 180},
 {'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175},
 {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]

In [50]:
l.sort(key = lambda item :item['height'])
l

[{'name': 'John Cena', 'birthday': datetime.date(1992, 9, 12), 'height': 175},
 {'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'height': 180},
 {'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'height': 185}]

In [52]:
# sort by sub dictionary
l = [{'name':'John Cena', 'birthday': datetime.date(1992, 9, 12),'size': {'height': 175,
'weight': 100}},
{'name': 'Chuck Norris', 'birthday': datetime.date(1990, 8, 28),'size' : {'height': 180,
'weight': 90}},
{'name': 'Jon Skeet', 'birthday': datetime.date(1991, 7, 6), 'size': {'height': 185,
'weight': 110}}]
l.sort(key = lambda item : item['size']['height'])
l

[{'name': 'John Cena',
  'birthday': datetime.date(1992, 9, 12),
  'size': {'height': 175, 'weight': 100}},
 {'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'size': {'height': 180, 'weight': 90}},
 {'name': 'Jon Skeet',
  'birthday': datetime.date(1991, 7, 6),
  'size': {'height': 185, 'weight': 110}}]

In [53]:
l.sort(key = lambda item : item['size']['weight'])
l

[{'name': 'Chuck Norris',
  'birthday': datetime.date(1990, 8, 28),
  'size': {'height': 180, 'weight': 90}},
 {'name': 'John Cena',
  'birthday': datetime.date(1992, 9, 12),
  'size': {'height': 175, 'weight': 100}},
 {'name': 'Jon Skeet',
  'birthday': datetime.date(1991, 7, 6),
  'size': {'height': 185, 'weight': 110}}]

##### Better way to sort using attrgetter and itemgetter


Lists can also be sorted using attrgetter and itemgetter functions from the operator module. These can help
improve readability and reusability. Here are some examples,

In [54]:
from operator import itemgetter,attrgetter
people = [{'name':'chandan','age':20,'salary':2000},
{'name':'chetan','age':18,'salary':5000},
{'name':'guru','age':30,'salary':3000}]
by_age = itemgetter('age')
by_salary = itemgetter('salary')

In [55]:
by_age

operator.itemgetter('age')

In [56]:
by_salary

operator.itemgetter('salary')

In [57]:
people.sort(key=by_age)
people

[{'name': 'chetan', 'age': 18, 'salary': 5000},
 {'name': 'chandan', 'age': 20, 'salary': 2000},
 {'name': 'guru', 'age': 30, 'salary': 3000}]

In [58]:
people.sort(key = by_salary)
people

[{'name': 'chandan', 'age': 20, 'salary': 2000},
 {'name': 'guru', 'age': 30, 'salary': 3000},
 {'name': 'chetan', 'age': 18, 'salary': 5000}]

In [64]:
list_of_tuples = [(1,2), (3,4), (5,0)]
list_of_tuples.sort(key=itemgetter(1))
print(list_of_tuples)

[(5, 0), (1, 2), (3, 4)]

In [66]:
#Use the attrgetter if you want to sort by attributes of an object
persons = [Person("John Cena", datetime.date(1992, 9, 12), 175),
Person("Chuck Norris", datetime.date(1990, 8, 28), 180),
Person("Jon Skeet", datetime.date(1991, 7, 6), 185)]
persons.sort(key=attrgetter('name'))
persons

[Chuck Norris, John Cena, Jon Skeet]

In [69]:
persons.sort(key=attrgetter('birthday'))
persons

[Chuck Norris, Jon Skeet, John Cena]

In [70]:
# clear() clear list
persons.clear()
persons

[]

In [71]:
# Replication multiplying an existing list by an integer will produce a larger list consisting of that many copies of the original. This can be useful for example for list initialization:
b = ["blah"] * 3
b

['blah', 'blah', 'blah']

In [72]:
b = [1, 3, 5] * 5
b

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

In [73]:
lst =[[2,3,4],[3,5,3]]*2
lst

[[2, 3, 4], [3, 5, 3], [2, 3, 4], [3, 5, 3]]

In [75]:
# Element deletion
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
del a[::2]
a

[1, 3, 5, 7, 9]

In [77]:
del a[-1]
a

[1, 3, 5, 7]

In [78]:
del a[:]

In [79]:
a

[]

In [80]:
#Copying
a=[1,2,3,4,5]
b =a
a.append(6)
a

[1, 2, 3, 4, 5, 6]

The default assignment "=" assigns a reference of the original list to the new name. That is, the original name
and new name are both pointing to the same list object. Changes made through any of them will be reflected
in another. This is often not what you intended.

In [81]:
b

[1, 2, 3, 4, 5, 6]

If you want to create a copy of the list you have below options.

In [ ]:
new_list = old_list[:]

You can use the built in list() function:

In [ ]:
new_list = list(old_list)

In [82]:
#You can use generic copy.copy():
import copy
old_list=  [1,2,3,4,5]
new_list = copy.copy(old_list)
#inserts references to the objects found in the original.
new_list.append(6);
old_list.append(7)
new_list

[1, 2, 3, 4, 5, 6]

In [83]:
old_list

[1, 2, 3, 4, 5, 7]

This is a little slower than list() because it has to find out the datatype of old_list first.

If the list contains objects and you want to copy them as well, use generic copy.deepcopy():

In [ ]:
import copy
new_list = copy.deepcopy(old_list)

## Accessing list values

Python lists are zero-indexed, and act like arrays in other languages.

In [84]:
lst = [1, 2, 3, 4]
lst[0] # 1
lst[1] # 2

2

In [85]:
#Attempting to access an index outside the bounds of the list will raise an IndexError.
lst[5]

IndexError: list index out of range

Negative indices are interpreted as counting from the end of the list.

In [87]:
print(lst[-1])
print(lst[-2])

4
3

In [88]:
print(lst[-5]) # raise exception

IndexError: list index out of range

In [89]:
# negative indexing is equvavlant to 
lst[len(lst)-1]

4

Lists allow to use slice notation as lst[start:end:step].

The output of the slice notation is a new list containing
elements from index start to end-1. If options are omitted start defaults to beginning of list, end to end of list and
step to 1:

In [93]:
lst

[1, 2, 3, 4]

In [92]:
lst[1:]

[2, 3, 4]

In [94]:
lst[:3]

[1, 2, 3]

In [95]:
lst[::2]

[1, 3]

In [96]:
lst[::-1]

[4, 3, 2, 1]

In [98]:
lst[-1:0]

[]

In [99]:
lst[-1:0:-1]

[4, 3, 2]

In [100]:
lst[5:8] #since starting index is greater than length of lst, returns empty list

[]

In [101]:
lst[1:10]

[2, 3, 4]

In [102]:
#With this in mind, you can print a reversed version of the list by calling
lst[::-1]

[4, 3, 2, 1]

In [103]:
lst[3:1:-1]

[4, 3]

####  Advanced slicing

When lists are sliced the __getitem__() method of the list object is called, with a slice object. Python has a builtin
slice method to generate slice objects. We can use this to store a slice and reuse it later like so,

In [109]:
data = 'chandan purohit 22 2020' 
name_slice = slice(0,16)
age_slice = slice(16,19)
salary_slice = slice(19,None)

In [110]:
print(data[name_slice]) #chandan purohit
print(data[age_slice]) #'22'
print(data[salary_slice]) #'2020'

chandan purohit
22
2020

### Checking if list is empty

The emptiness of a list is associated to the boolean False, so you don't have to check len(lst) == 0, but just lst
or not lst

In [111]:
lst = []
if not lst:
    print("list is empty")

list is empty

In [112]:
if len(lst) ==0:
    print('list is empty')

list is empty

### Iterating over a list

In [114]:
my_list = ['foo', 'bar', 'baz']
for item in my_list:
    print(item)

foo
bar
baz

In [ ]:
# You can also get the position of each item at the same time:

In [115]:
for (index, item) in enumerate(my_list):
    print('The item in position {} is: {}'.format(index, item))

The item in position 0 is: foo
The item in position 1 is: bar
The item in position 2 is: baz

In [116]:
for i in range(0,len(my_list)):
    print(my_list[i])

foo
bar
baz

In [117]:
#Note that changing items in a list while iterating on it may have unexpected results:
for item in my_list:
    if item == 'foo':
        del my_list[0]
    print(item)

foo
baz

### Checking whether an item is in a list

In [118]:
lst =['test', 'twest', 'tweast', 'treast']
'test' in lst

True

In [119]:
'tweet' in lst

False

## Any and All

You can use all() to determine if all the values in an iterable evaluate to True

In [121]:
nums = [1, 1, 1, 1]
all(nums)

True

In [122]:
nums = [1, 1, 0, 1]
all(nums)

False

In [123]:
chars = ['a', 'b', 'c', 'd']
all(chars)

True

Likewise, any() determines if one or more values in an iterable evaluate to True

In [124]:
vals = [None, None, None, False]
any(vals)

False

In [125]:
nums = [1, 1, 0, 1]
any(nums)

True

In [126]:
vals = [1, 2, 3, 4]
any(val > 12 for val in vals)

False

In [127]:
vals = [1, 2, 3, 4]
any(val > 3 for val in vals)

True

In [128]:
any((val * 2) > 6 for val in vals)

True

### Reversing list elements

You can use the reversed function which returns an iterator to the reversed list:

In [129]:
numbers = [1,2,3,4,5]
reversed_numners= reversed(numbers)
reversed_numners

In [130]:
numbers

[1, 2, 3, 4, 5]

In [131]:
reversed_numners

In [133]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

### Concatenate and Merge lists

The simplest way to concatenate list1 and list2:

merged = list1 + list2

zip returns a list of tuples, where the i-th tuple contains the i-th element from each of the argument
sequences or iterables:

In [134]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [140]:
ziplist= [(a,b) for a, b in zip(alist, blist)]

In [141]:
ziplist

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [142]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3', 'b4']
ziplist= [(a,b) for a, b in zip(alist, blist)]
ziplist

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]